.container
  .card.mt-5
    .card-body
      %h4.text-primary Login
      = simple_form_for @user, url: login_page_path() do |f|
        .form-inputs
          = f.input :email
          = f.input :password
        %h6.text-danger.mt-3 #{alert}
        %h6.text-success.mt-3 #{notice}
        .form-action.mt-4
          = f.button :submit, "Log in", class: "btn btn-primary"
          %a{class: "btn btn-outline-info", role:"button", href: "#{register_page_path()}"}Register