%nav.navbar.navbar-expand-lg.navbar-light.bg-info.bg-gradient.mb-3
  .container-fluid
    %span.navbar-brand.rounded-pill.bg-primary.px-3.py-2.text-light{:href => "#{feed_page_path()}"} uTwitter
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          %a.nav-link{"aria-current" => "page", :href => "#{feed_page_path()}"} Home
        %li.nav-item
          %a.nav-link{:href => "#{profile_page_path(name: @user.name)}"} Profile
        %li.nav-item
          %a.nav-link{:href => "#{create_post_page_path()}"} Create Post
        -# %li.nav-item.dropdown
        -#   %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
        -#     Dropdown
        -#   %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
        -#     %li
        -#       %a.dropdown-item{:href => "#"} Action
        -#     %li
        -#       %a.dropdown-item{:href => "#"} Another action
        -#     %li
        -#       %hr.dropdown-divider/
        -#     %li
        -#       %a.dropdown-item{:href => "#"} Something else here
      %div.me-3.p-2{style: "background-color: #c6e2e9;"}
        You are logging in as: 
        %strong #{@user.name}
      %span.mx-1
        = button_to 'Log out', logout_path, method: "post", class: "btn btn-danger btn-sm"